{% extends "AppBundle:Layout:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
  <div class="col-md-6">
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    <a href="{{ url('fos_user_security_login') }}" class="btn btn-default">{{ 'security.login.submit'|trans }}</a>
  </div>
{% endblock fos_user_content %}
