{% extends "AppBundle:Layout:layout.html.twig" %}

{% block fos_user_content %}
  <div class="col-md-4 col-md-offset-4">
  {% include "FOSUserBundle:Registration:register_content.html.twig" %}
  </div>
{% endblock fos_user_content %}
