{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div class="form-group">
      <input type="submit" class="btn btn-success" value="{{ 'registration.submit'|trans }}" />
      <div class="pull-right">
        <a href="{{ url('fos_user_security_login') }}" class="btn btn-default">{{ 'security.login.submit'|trans }}</a>
      </div>
    </div>
{{ form_end(form) }}
