{% extends "AppBundle:Layout:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block captcha_widget %}
{% if is_human %}
-
{% else %}
{% spaceless %}
    <img id="{{ image_id }}" src="{{ captcha_code }}" alt="" title="captcha" style="width: {{ captcha_width }}px; height: {{ captcha_height }}px; border: 1px solid #dedede;" width="{{ captcha_width }}" height="{{ captcha_height }}" />
    {% if reload %}
    <script type="text/javascript">
        function reload_{{ image_id }}() {
            var img = document.getElementById('{{ image_id }}');
            img.src = '{{ captcha_code }}?n=' + (new Date()).getTime();
        }
    </script>
    <a class="captcha_reload btn btn-default btn-sm" style="margin-left: 40px;" href="javascript:reload_{{ image_id }}();"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
    <br />
    <br />
    {% endif %}
    {{ form_widget(form) }}
{% endspaceless %}
{% endif %}
{% endblock %}

{% block fos_user_content %}
  <div class="col-md-4 col-md-offset-4">
{% if error %}
    <div class="alert alert-danger">
    {{ error }}
    </div>
{% endif %}
    {% form_theme form with [_self, 'bootstrap_3_layout.html.twig']  %}
    {{ form_start(form, { action: path('fos_user_security_check') }) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {{ form_end(form) }}
    <a href="{{ url('fos_user_registration_register') }}">{{ 'registration.submit'|trans }}</a>
{% endblock fos_user_content %}
